      <br />
      <div class="jumbotron alert-warning">
        <h1>Web App Dev Live</h1>
        <p>Filling the gap in learning to code online</p>
        <br />
      </div>
      <div class="anchor-pad" id="what">
        <h1>What?</h1>
        <p>
          Web App Dev Live is a Live weekly podcast where we work together 
          building webapps and learn about web development in general.
        </p>
      </div>
      <div class="anchor-pad" id="why">
        <h1>Why?</h1>
        <p>
          There are a lot of good resources online about how to learn to code.
          Some paid and some free. Some of them are really good.  But after pointing
          people to some of these resources it was difficult for them to put together
          the entire picture and create their idea.  They needed a little more help.
        </p>
        <p>
          I've been down this road and I've hit a lot of potholes.  Even though 
          I'm far from a veteran programmer, I can go from an idea to a functional webapp, 
          so I can show you what has worked and what hasn't. We can all learn 
          how to do this together.
        </p>
      </div>
      <div class="anchor-pad" id="how">
        <h1>How?</h1>
        <p>
          Web App Dev Live will be a weekly podcast conducted through Google Hangouts.
          Everyone will get a chance to participate and ask questions and get immediate
          feedback like being in a classroom, it won't be a standard boring lecture though, 
          we will code together at the same time.  There will also be homework from various
          free online resources.
        </p>
        <h2>Requirements</h2>
        <p>
          You will need a computer that is capable of installing programs and one that
          you have the ability to install programs on to. Any current Windows, Mac, or Linux
          computer that you own should be sufficient.
        </p>
        <p>
          You will also need a notebook and pen or pencil to write down notes.  It doesn't
          have to be anything fancy, just something that you keep at your desk and have
          on hand to write a quick note.
        </p>
        <h2>Curriculum</h2>
        <p>
          There are four sections and each section will be broken down into a number
          of episodes.  Some sections will take longer and since this is the first time 
          I'm doing this, I'm not sure how long this might take. The curriculum might
          also change based on student feedback while the course is running so this page
          will be updated to reflect any changes that are made.
        <p>
        <ul>
          <li>
            Section 1: Tools
            <ul>
              <li><a href="http://www.vagrantup.com/">Vagrant</a></li>
              <li>Command Line</li>
              <li>Vim</li>
              <li>vimtutor</li>
              <li>git</li>
              <li>tmux</li>
            </ul>
          </li>
          <li>
            Section 2: Languages and the Web
            <ul>
              <li>HTML</li>
              <li>CSS</li>
              <li>Javascript</li>
              <li>Webservers</li>
              <li>DNS</li>
              <li>node.js</li>
              <li>express</li>
            </ul>
          </li>
          <li>
            Section 3: Basic webapp
            <ul>
              <li>Instagram Clone</li>
              <li>Recap and Generalize</li>
            </ul>
          </li>
          <li>Section 4: Novel webapp
            <ul>
              <li>A new webapp that has not been done before to my knowledge that we
              will make together on the show.
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="anchor-pad" id="howmuch">
        <h1>How Much?</h1>
        <p>
          The first season is completely free.  I would like to see if this format 
          works and get feedback first.  For the second season I would still like to
          try to keep it free and look into alternative funding methods while keeping
          the show open and accessible.  Since the show will be run like a podcast
          I will be actively looking for sponsors.
        </p>
      </div>
      <div class="anchor-pad" id="signup">
        <h1>Sign Up</h1>
        <p>
          This is not a normal leave your email and be contacted at a later date.
          When you sign up you will receive a meeting request (I use Google Calendar) and 
          you will join a group of students where we all help each other learn.
        </p>
        <p>
          Since this course is live and meets at the same time every week, it will show 
          up in your calendar and you can set up an alert.
        </p>
      </div>
      


    
